$background-color: #f2f2f2;
$primary-color: #5d656e;
$secondary-color: #87919e;

.home-page {
  background-color: $background-color;
  min-height: calc(100vh - 100px);
  padding: 8vh 8vw 3vh !important;
  display: flex;
  align-items: center;

  div {
    color: $primary-color;
    letter-spacing: 0.2em !important;
  }

  p {
    margin: 2em 0;
    line-height: 1.6em;
    text-align: justify;
  }

  button {
    background-color: $background-color !important;
    box-shadow:
      0px -8px 10px white,
      0px 4px 15px rgba(black, 0.2) !important;

    &:hover {
      box-shadow:
        0px -4px 4px white,
        0px 2px 6px rgba(black, 0.2) !important;
    }
  }
}

@media (min-width: 960px) {
  .about {
    padding-right: 50px !important;
  }
}

.about {
  .v-row {
    display: flex;
    align-items: end;
  }
}

.about-title {
  font-weight: 700;
  font-size: 5rem;
  max-height: 1.15em;
  color: $background-color;
  text-shadow:
    -8px -8px 16px rgba(white, 0.5),
    8px 8px 16px rgba(black, 0.1),
    -2px -2px 4px white,
    2px 2px 4px rgba(black, 0.2);
}

.tag {
  text-align: end;
}

@media (max-width: 600px) {
  .tag {
    margin-top: 1em;
    text-align: start;
  }
}

.tag-list {
  border-radius: 20px;
  padding: 5px 15px 5px 15px;

  font-size: smaller;
  color: $secondary-color;

  box-shadow:
    0px -8px 12px white,
    0px 8px 12px rgba(black, 0.1);
}
.tag-list:nth-child(2) {
  margin: 1.5em;
}

.social-platform-list {
  width: 40px !important;
  height: 40px !important;
  margin-right: 20px;
  .v-avatar {
    padding: 0.5em !important;
  }
}

@media (max-width: 960px) {
  .social-platform {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
  }
}

.world {
  display: flex;
  align-items: center;
  justify-content: center;

  .world-list {
    width: 100%;
    min-width: 250px;
    padding: 15px !important;
    background-color: $background-color !important;
    border-radius: 20px !important;
    box-shadow:
      inset 0px -8px 12px white,
      inset 0px 8px 12px rgba(black, 0.1) !important;

    .v-avatar {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .v-card-title {
      font-weight: 900;
    }

    .v-card-subtitle {
      color: $secondary-color;
    }

    .v-card-actions {
      justify-content: end;
      padding-top: 0;
      color: $secondary-color;
    }
  }
}

.home-footer {
  height: 100px !important;
  justify-content: center;
  background-color: $background-color !important;

  .copyright {
    border-radius: 20px;
    padding: 5px 15px 5px 15px;

    font-size: smaller;
    color: $secondary-color;

    box-shadow:
      0px -8px 12px white,
      0px 8px 12px rgba(black, 0.1);
  }
}
