.v-application {
  background-color: #f2f2f2 !important;

  &__wrap {
    .v-main {
      margin: 5em;
    }

    .v-fab {
      z-index: 10;
      position: fixed;
      bottom: 5em;
      right: 5em;
    }
  }
}
